{% load index %}
{% load static %}
{% if post.country_iso %}
	<img
	class="flag" src="{% if post.country_iso == 'ZZ' %}
		{% static 'flags/a1.png' %}
	{% else %}
		{% static 'flags/'|add:post.country_iso|add:'.png'|lower %}
	{% endif %}"
		style="
			{% if post.modifiers %}
				{{ post.modifiers }}
			{% else %}
				{{ config.flag_style }}
			{% endif %}
		"
		alt="{{ post.country_name }}" title="{{ post.country_name }}"
	>
	{% if post.city_name %}
		{{ post.city_name }}
	{% else %}
		{{ post.country_name }}
	{% endif %}
{% endif %}
